<%= form_for @client, :html => { :multipart => true }  do |f| %>
  <% if @client.errors.any? %>
    <div class="container">
      <div class="text-danger text-justify">
        <div id="error_explanation">
          <h2 class=""><%= pluralize(@client.errors.count, "erro") %> proibiram este formulario de ser salvo:</h2>
          <ul>
          <% @client.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <html lang="en">
      <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

      <!-- Website CSS style -->
      <link rel="stylesheet" type="text/css" href="assets/css/main.css">

      <!-- Website Font style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

      <!-- Google Fonts -->
      <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

      <title>Admin</title>
    </head>
    <body>
      <div class="container">
        <div class="row main">
          <div class="panel-heading">
                   <div class="panel-title text-center">
                      <h1 class="title">Editar o cliente : <%=@client.name_client %></h1>
                      <hr />
                    </div>
                </div>
          <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">

              <div class="form-group">
                <%= f.label :name_client, class:"sr-only" %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="fa fa-user"></span>
                     Nome
                  </span>
                  <%= f.text_field :name_client, class:"form-control", placeholder:"Nome do usuário" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :phone_client, class:"sr-only" %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="fa fa-phone"></span>
                     Telefone
                  </span>
                  <%= f.text_field :phone_client, class:"form-control", placeholder:'Somente números com DDD.' %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :cpf, class:"sr-only" %>
                <div class="input-group">
                  <span class="input-group-addon">CPF</span>
                  <%= f.text_field :cpf, class:"form-control cpf active", placeholder:"Somente números."%>
                </div>
                <p>
                  <small class="text-muted text-lowercase sr-only">(somente numeros)</small>
                </p>
              </div>

              <div class="form-group">
                <%= f.label :birth_date, class:"sr-only" %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="fa fa-gift"></span>
                     Data de nascimento
                  </span>
                  <%= f.date_field :birth_date, class:"form-control", placeholder:"Ex.: dd/mm/aaaa" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :email_client, class:"sr-only" %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="fa fa-user"></span>
                     Email
                  </span>
                  <%= f.text_field :email_client, class:"form-control", placeholder:"Email" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password_client, class:"sr-only" %>
                <div class="input-group">
                  <span class="input-group-addon">
                    <span class="fa fa-password"></span>
                     Senha
                  </span>
                  <%= f.text_field :password_client, class:"form-control", placeholder:"Senha" %>
                </div>
              </div>
              <%= link_to '<span class="fa fa-address-card"> Voltar</span>'.html_safe, client_path(@client), class:'btn btn-lg btn-warning' %>
              <%= f.button '<span class="fa fa-check"> Salvar</span>'.html_safe, type:"submit", class:'btn btn-lg btn-success' %>
              </div>
            </form>
          </div>
        </div>
      </div>

      <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    </body>
  </html>
<% end %>
