<div class="row item">
      <div class="col-sm-12 col-md-8 text-capitalize descript">
        <h3 class=""><%= @client.name_client %></h3>
        <h4 class="">Telefone: <%= @client.phone_client %></h4>
        <h4 class="">CPF: <%= @client.cpf %></h4>
        <h4 class="">Email: <%= @client.email_client %></h4>
        <h4 class="">Senha: <%= @client.password_client %></h4>
      </div>
</div>